@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100vw;
}

.piano {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 670px;
}

.piano-panel {
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #0e0e0e;
}

.piano-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 210px;
    padding: 10px 30px;
    background-color: #1b1a1a;
    border-radius: 0px 0px 5px 5px;
}

.keys {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-align: center;
    color: #797979;
    user-select: none;
}

.keys span {
    position: absolute;
    color: #797979;
    user-select: none;
}

.white {
    flex-grow: 1;
    background-color: #fff8dc;
    border-bottom: 4px solid #bebbab;
    border-radius: 5px;
    margin-left: -17px;
    z-index: 1;
}

.piano-keys .white:nth-child(5),
.white:nth-child(12),
.white:nth-child(17) {
    margin-right: 20px;
}

.black {
    width: 40px;
    height: 100px;
    background: linear-gradient(to bottom, #000000, #3a3a3a);
    border-bottom: 3px solid #161616;
    border-radius: 0px 0px 5px 5px;
    margin-left: -20px;
    z-index: 2;
}

.black:active {
    background: linear-gradient(to bottom, #3a3a3a, #000000);
    border-bottom: 3px solid #161616;
}
